* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  width: 100%;
  height: 40vh;
}

.max-width-wrapper {
  margin: 0 auto;
  min-width: 16rem;
  max-width: 50rem;
}

.title {
  margin-bottom: 3rem;
}

.intro-chunk {
  padding: 2rem;
  font-size: 1.25rem;
}

main {
  width: 100%;
  height: 60vh;
  background-color:hsl(0deg, 0%, 40%);
  border-top: 0.5rem solid hsl(0deg, 0%, 60%);
}

.card {
  margin: 4rem auto;
  background-color: hsl(0deg, 0%, 100%);
  padding: 2rem;
  border-bottom: 0.5rem solid hsl(0deg, 0%, 60%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 0.5rem solid hsl(45deg, 100%, 40%);
  display: inline-block;
  padding: 1rem 2rem;
  margin-left: -2.5rem;
  margin-top: -1.25rem;
}

.card p {
  font-size: 1.25rem;
  word-spacing: 1px;
}

.card > p:last-child {
    margin-bottom: -0.5rem;
}